requests
websockets
python-dotenv
pandas
pymongo
asyncio
fastapi
uvicorn
uuid
colorama
openctp_ctp
gitignore_parser
paramiko
binance
pydash
websocket-client
mplfinance
seaborn
attrdict
openpyxl
xlsxwriter
jsbeautifier